 .playlist-show{
     overflow-y: scroll;
 }
 
 .playlist-delete-button {
    font-size: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    width: 40px;
    margin: auto;
    vertical-align: default;

}
.deleting:hover span{
   display: none;
}
.deleting:hover:before {
    font-size: 14px;
    content: "Delete"
}

.playlist-show-name {
    text-align: center;
    font-size: 28px;
    padding: 10px;
}
.playlist-show-song-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playlist-title-delete {
    margin-left: 10%;
    margin-right: 10%;
}

.playlist-show-songli {
    padding-top: 6px;
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
    align-items: center;
}


.songli-ell {
  display: inline-block;
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1px;
  top: 0;
}

.playlist-artwork {
    height: 240px;
    width: 240px;
    margin: auto;
    padding: 10px;
}

.playlist-artwork:hover {
    opacity: .7;
}

.playlist-songlist {
    padding: 10px;
    width: 100%;
}

.song-quantity {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.artist-album-li {
    padding: 5px, 5px 5px, 0px;
}
.follow-button {
    cursor: pointer;
    border-radius: 50px;
    width: 138px;
    font-size: 10px;
    background: rgb(0, 208, 97);
    margin: auto;
    height: 40px;
    font-weight: 200;
    border: none;
    margin-top: 14px;
    letter-spacing: 1px;
}
/* .follow-button:hover {
    width: 139px;
    height: 41px;
} */

.playlist-owner {
    font-size: 18px;
    padding: 5px;
}