
.musicplayer-1 {
    display: flex;
    min-width: 15%;
    align-items: center;
}

.musicplayer-2 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.musicplayer-3 {
    display: flex;
    margin-right: 1%;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}

.player-song-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.musicplayer-2-top {
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: auto;
    align-items: center;
}
.musicplayer-2-bottom {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.player-album-art {
    height: 70px;
    width: auto;
    margin: 0px 10px;
}

.back-button {
    overflow: hidden;
    position: relative;

    height: 24px;
    width: 20px;
    
}



.forward-button {
    overflow: hidden;
    position: relative;

    /* background: green; */
    
    height: 24px;
    width: 20px;
   
}


.audio-button-img {
    min-width: 140px;
    min-height: 140px;
    cursor: pointer;
}


.back-button img {
    position: absolute;
    top: -60px;
    right: -118px;
}

.pause-button-img {
    position: absolute;
    top: -3px;
    right: -52px;  
}
/* =========================================== */
.play-button-img {
    position: absolute;
    top: -49px;
    right: -52px;
}
/* =========================================== */
.play-button-img:hover {
    position: absolute;

    top: -94px;
    right: -52px;
}
/* =========================================== */
.play-button {
    overflow: hidden;
    position: relative;
    /* background: blue; */
    height: 45px;
    width: 50px; 
}
.pause-button img {
    position: absolute;
    top: -3px;
    right: -52px;
}

.forward-button img {
    position: absolute;

    top: -59px;
    right: -12px;
}
/* button hovers */
.back-button img:hover {
    position: absolute;

    top: -106px;
    right: -118px;
}


.forward-button img:hover {
    position: absolute;
    top: -105px;
    right: -12px;
}

audio {
    position: absolute;
    display: none;
}

.time-slider {
    height: 4px;
    width: 60vh !important;
    cursor: pointer;
    -webkit-appearance: none;
}
.volume-slider {
    height: 4px;
    -webkit-appearance: none;
    cursor: pointer;

}
.volume-slider:focus {
    border: none;
}
.vol-img {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.time-slider:focus {
    border: none;
}

input[type='range'] {
      overflow: hidden;
      width: 80px;
      background-color: rgba(64, 64, 64, .5);
}
input[type='range']:hover {
    overflow: default;
}
.player-song-title {
    font-size: 14px;
    margin: 5px;
}
.player-artist-name {
    font-size: 12px;
    opacity: .5;
    margin: 5px;
}
.time-label {
    user-select: none;
    min-width: 35px;
    font-size: 11px;
    text-align: center;
}
.template-player {
    border-top: 1px solid black;
    position: relative;
}

/* .template-player {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 40%;
}  */
/* 
.fa-play-circle{
    font-size: 12px;
    height: 50px;
    width: 50px;
    color: black;

} */

.loop-container {
    display: flex;
}
.loop-img {
    cursor: pointer;
    height: 20px;
    width: 20px;
}


input[type='range']::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 10px;
      background: rgb(180, 180, 180);
      box-shadow: -500px 0 0 500px rgb(180, 180, 180);
    }

.green-bar > input[type='range']::-webkit-slider-thumb {
      box-shadow: -500px 0 0 500px rgb(3, 187, 92);
    }

.time-slider-wrapper {
    height: 15px;
    position: relative;
    display: flex;
    align-items: center
}
.fake-thumb {
    position: absolute;
    width: 10px;
    background: rgb(180, 180, 180);
    border-radius: 50%;
    height: 10px;
    z-index: 1;
    display: none;
}


.volume-slider-wrapper {
    height: 15px;
    position: relative;
    display: flex;
    align-items: center
}
.fake-volume-thumb {
    position: absolute;
    width: 10px;
    background: rgb(180, 180, 180);
    border-radius: 50%;
    height: 10px;
    z-index: 1;
    display: none;
}

.shuffle-button {
    display: flex;
    cursor: pointer;
}
.shuffle-img {
    height: 20px;
    width: 20px;
}
.queue-img {
    cursor: pointer;
}
.queue-link {
    display: flex;
    margin-right: 5px;
}

.like-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 2;
    margin-left: 10px;
}

.liked-popup {
    content: "Added to Your Library";
    position: absolute;
    display: none;
    width: 100%;
    height: 30px;
    top: -31px;
    font-weight: 100;
    letter-spacing: 1px;
    /* display: flex; */
    font-size: 14px;
    justify-content: center;
    align-items: center;
    background: #00c45a;
    padding-left: 25%;
    text-align: center;
}
    