
.musicplayer-1 {
    display: flex;
    min-width: 15%;
}

.musicplayer-2 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.musicplayer-3 {
    display: flex;
    margin-right: 1%;
    width: 10%;
}

.player-song-artist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.musicplayer-2-top {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: auto;
    align-items: center;
}
.musicplayer-2-bottom {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.player-album-art {
    height: 70px;
    width: auto;
    margin: 0px 10px;
}

.back-button {
    overflow: hidden;
    position: relative;

    height: 24px;
    width: 20px;
    
}



.play-button {
    overflow: hidden;
    position: relative;
    /* background: blue; */

    height: 45px;
    width: 50px;

   
   
}

.forward-button {
    overflow: hidden;
    position: relative;

    /* background: green; */
    
    height: 24px;
    width: 20px;
   
}


.audio-button-img {
    min-width: 140px;
    min-height: 140px;
}


.back-button img {
    position: absolute;
    top: -60px;
    right: -118px;
}

.play-button img {
    position: absolute;

    top: -49px;
    right: -52px;
}

.forward-button img {
    position: absolute;

    top: -59px;
    right: -12px;
}
/* button hovers */
.back-button img:hover {
    position: absolute;

    top: -106px;
    right: -118px;
}

.play-button img:hover {
    position: absolute;

    top: -94px;
    right: -52px;
}

.forward-button img:hover {
    position: absolute;
    top: -105px;
    right: -12px;
}

audio {
    position: absolute;
}

.time-slider {
    height: 20px;
    width: 60vh !important;
}

input[type='range'] {
      overflow: hidden;
      width: 80px;
      background-color: #9a905d;
}

.player-song-title {
    font-size: 14px;
}
.player-artist-name {
    font-size: 12px;
    opacity: .5;
}
.current-time-label {
    max-width: 15px;
}


/* .template-player {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 40%;
}  */
/* 
.fa-play-circle{
    font-size: 12px;
    height: 50px;
    width: 50px;
    color: black;

} */