
.musicplayer-1 {
    display: flex;
    min-width: 15%;
}

.musicplayer-2 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.musicplayer-3 {
    display: flex;
    margin-right: 1%;
    width: 10%;
    align-items: center;
}

.player-song-artist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.musicplayer-2-top {
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: auto;
    align-items: center;
}
.musicplayer-2-bottom {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.player-album-art {
    height: 70px;
    width: auto;
    margin: 0px 10px;
}

.back-button {
    overflow: hidden;
    position: relative;

    height: 24px;
    width: 20px;
    
}



.forward-button {
    overflow: hidden;
    position: relative;

    /* background: green; */
    
    height: 24px;
    width: 20px;
   
}


.audio-button-img {
    min-width: 140px;
    min-height: 140px;
    cursor: pointer;
}


.back-button img {
    position: absolute;
    top: -60px;
    right: -118px;
}

.pause-button-img {
    position: absolute;
    top: -3px;
    right: -52px;  
}
/* =========================================== */
.play-button-img {
    position: absolute;
    top: -49px;
    right: -52px;
}
/* =========================================== */
.play-button-img:hover {
    position: absolute;

    top: -94px;
    right: -52px;
}
/* =========================================== */
.play-button {
    overflow: hidden;
    position: relative;
    /* background: blue; */
    height: 45px;
    width: 50px; 
}
.pause-button img {
    position: absolute;
    top: -3px;
    right: -52px;
}

.forward-button img {
    position: absolute;

    top: -59px;
    right: -12px;
}
/* button hovers */
.back-button img:hover {
    position: absolute;

    top: -106px;
    right: -118px;
}


.forward-button img:hover {
    position: absolute;
    top: -105px;
    right: -12px;
}

audio {
    position: absolute;
    display: none;
}

.time-slider {
    height: 4px;
    width: 60vh !important;
    cursor: pointer;
    -webkit-appearance: none;
}
.volume-slider {
    height: 4px;
    -webkit-appearance: none;
    cursor: pointer;

}
.volume-slider:focus {
    border: none;
}
.vol-img {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.time-slider:focus {
    border: none;
}

input[type='range'] {
      overflow: hidden;
      width: 80px;
      background-color: rgba(64, 64, 64, .5);
}
input[type='range']:hover {
    overflow: default;
}
.player-song-title {
    font-size: 14px;
}
.player-artist-name {
    font-size: 12px;
    opacity: .5;
}
.time-label {
    min-width: 35px;
    font-size: 11px;
}


/* .template-player {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 40%;
}  */
/* 
.fa-play-circle{
    font-size: 12px;
    height: 50px;
    width: 50px;
    color: black;

} */

input[type='range']::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 10px;
      background: rgb(180, 180, 180);
      box-shadow: -500px 0 0 500px rgb(3, 187, 92);
    }

input[type='range']::-webkit-slider-thumb.green-bar {
      width: 1px;
      -webkit-appearance: none;
      height: 10px;
      background: #434343;
      box-shadow: -500px 0 0 500px rgb(180, 180, 180);
    }
/* input[type='range']::-webkit-slider-thumb {
    box-shadow: -500px 0 0 500px rgb(25, 25, 25);
} */
/* input[type='range']::-webkit-slider:hover {
    box-shadow: -500px 0 0 500px rgb(25, 25, 25);
} */

/* 
input[type='range']::-webkit-slider-thumb:hover {
      width: 1px;
      -webkit-appearance: none;
      height: 10px;
      background: #434343;
      box-shadow: -500px 0 0 500px rgb(3, 187, 92);
    } */
/* 
input[type='range']::-webkit-slider-thumb:hover {
      overflow: inherit;
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    } */
.loop-container {
    display: flex;
}
.loop-img {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
   