/* basically same as artist index css */

.album-index {
    overflow-y: scroll;
}

.album-index {
    padding: 5%;
}

.album-index li {
    width: 50%;
    overflow: auto;
}

.album-index-img {
    height: 200px;
    width: 200px;
}
