/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
}
/* Generics */
 * {
     font-family: Helvetica, sans-serif; 
     color: white;
     /* background: black; */
     font-size: 24px;
 }

 input:not([type="submit"]) {
     color: black;
 }


html, body, #root, .primary-app-div {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
}

 /* Tag selectors */
 .splash-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    /* background: url('firefy_splash.png') no-repeat center center fixed; */
    /* background-size: cover; */
 }

 img {
     /* float: left; */
     height: 25px;
     width: 25px;
 }
 
  a {
      text-decoration: none;
      color: white;
  }
  button:focus {
    outline: none;
  }


  form > * {
      margin: 5px;
      font-size: 14px;
  }

  input:focus {
      outline: none;
      border: 1px solid rgba(81, 203, 238, 1);
  }
  input:not(:placeholder-shown) :invalid {
      border: 5px solid red;
  }

/* Display */
.flex-col {
    display: flex;
    flex-direction: column;
}

/* Reusable classes */
 .errors {
     color: red;
     text-align: center;
     font-size: 20px;
 }
 
/* HOVERS  HOVERS  HOVERS  HOVERS   */

.underlining:hover {
    text-decoration: underline;
    cursor: pointer;
}
 .lightup {
     opacity: .7;
     transition-duration: .3s;
     transition-property: opacity;
     transition-timing-function: linear;
 }

 .lightup:hover {
     transition-duration: .2s;
     transition-property: opacity;
     transition-timing-function: linear;
     opacity: 1.0;
 }
 
/* 
 li > .active {
     box-sizing: border-box;
     border-left: 4px solid rgb(0, 196, 90);
 } */


 /* Backgrounds */
 .full-background {
    position: absolute;
    top:40px;
    left:0;
    bottom:0;
    right:0;
 }
 .black-background {
    background: black;
 }
 .white-background {
    background: white;
 }

 /* Spacing */
 .list-padding {
     padding: 10px 20px 10px 20px;
 }
 .long-padding {
    padding: 10px 50px 10px 50px;
 }
 .padding {
    padding: 5px;
 }

 .margin {
     margin: 5px;
 }
 .center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 @keyframes flicker {
    0%, 100%{color: white}
    50%{opacity: .0}
 }
 .flicker {
     animation-name: flicker;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;
 }

/* Splash Page */
.primary-app-div {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.welcome-banner {
    margin: auto;
    width: 50%;
    margin-top: 20%;
    text-align: center;
}

/* .get-firefy-button {
    margin-top: 10px;
} */
.splash-motto {
    padding-bottom: 23px;
}
.splash-logo {
    margin: 10px;
}
 .full-form {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto;
     margin-top: 10%;
     height: 56%;
 }
 
 .session-form {
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     width: 50%;
     height: 50%;

    }

.session-button {
    background: rgb(0, 196, 90);
    border-radius: 50px;
    border: none;
    letter-spacing: 2px;
    transition: filter .3s;
    text-transform: uppercase;
    padding: 15px;
}
.session-button:hover {
    cursor: pointer;
    filter: brightness(115%);

}

.bw-button {
     border-radius: 50px;
     letter-spacing: 2px;
     text-transform: uppercase;
     transition: border .3s, background-color .3s, color .3s;
     margin: 5px;

     border: 2px solid black;
     background-color: white;
     color: black;
     box-sizing: border-box;
     height: 35px;


  }
 .bw-button:hover {

     background-color: black;
     color: white;
     border: 2px solid black;
     box-sizing: border-box;
     height: 35px;
 }

.demo-button {
    background: rgb(0, 169, 218);
}

 .slogan {
     font-size: 50px;
     font-weight: 800;
     margin: 10px;
 }

 /* Home Page */
 
.top-left-item {
    padding: 0px;
    font-size: 14px;
}

.top-left-item a {
  position: relative;
  display: inline-block;
  width: 100%; 
  padding: 15px 20px 15px 20px;
}




 /* Nav bar items */
 .invisbutton {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.index-playlist-item-link.active:before {
    content: "";
    width: 4px;
    height: 29px;
    background: rgb(0, 196, 90);
    display: block;
    position: absolute;
    left: 5px;
    top: 3px;
}



.app-name {
    font-size: 28px;
    margin: 7% 5%;
    display: flex;
    align-items: center;
}

.nav-link > * {
    display: block;
    width: 100%;
}

.songli {
    border-bottom: 1px solid rgb(40, 40, 40);
    background: none;
    display: inline-block;
    width: 100%;
    /* padding: 5px; */
}
.song-component-title {
    padding-bottom: 14px;
}
.songli-artist-album {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: -7px;
  display: inline-block;
}
.playlist-show {
    display: flex;
    flex-direction: row;
    margin: 3%;
}
.playlist-show::-webkit-scrollbar {
    background: transparent;
}
.playlist-show::-webkit-scrollbar-thumb {
    background: transparent;
}
.playlist-show::-webkit-scrollbar-track {
    background: transparent;
}


.songlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40%;
    overflow-x: hidden;
}
.songlist::-webkit-scrollbar {
    background: transparent;
}
.songlist::-webkit-scrollbar-thumb {
    background: transparent;
}
.songlist::-webkit-scrollbar-track {
    background: transparent;
}


.plus-sign {
    display: flex;
    color: black;
    align-items: baseline;
    justify-content: center;
}
.plusbutton {
    vertical-align: middle;
}

.getfirefyfree-button {
    position: relative;
    top: 15%;
    z-index: 1;
}

.welcome-messages {
    text-align: center;
    top: 23%;
    position: relative;
}


 @keyframes flashing-true {
    0%, 100%{color: rgb(0, 176, 70) };
    50%{color: rgb(167, 216, 190) };
 }
 .flashing-true {
     animation-name: flashing-true;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;
 }

 /* .flashing-true {
     color: rgb(0, 196, 90);
 } */

 .handles {
     position: absolute;
     bottom: 0px;
     display: flex;
     /* align-items: center; */
     font-size: 14px;
     width: 100%;
     justify-content: center;
 }
 .handles > * {
     margin: 0px 10px;
 }
/* .envelope-link {
    padding-left: 1px;
    width: 30px;
    height: 30px;
    padding-top: 1px;
}
    .fa-envelope-square {
        font-size: 29px;
    } */