
.artist-show {
    padding: 10px 0px;
    background: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    overflow-y: scroll;
    /* text-align: center; */
    position: relative;
}
.artist-show::-webkit-scrollbar {
    background: transparent;
}
.artist-show::-webkit-scrollbar-thumb {
    background: transparent;
}
.artist-show::-webkit-scrollbar-track {
    background: transparent;
}

.artist-show > * {
    padding: 10px;
}

.artist-show-name {
    font-size: 72px;
    position: relative;
    top: 200px;
    z-index: 2;
    font-weight: 800;
    /* background: rgba(25, 25, 25, .5); */
    background: linear-gradient(45deg, transparent, rgb(15, 15, 15), transparent);
}
/* .artist-show-shader {
    width: 100%;
    min-height: 52vh;
    position: absolute;
    display: inline-block;
    background: linear-gradient(0deg, rgb(25, 25, 25), transparent);
    z-index: 1;
} */

.artist-jumbo {
    width: 100%;
    height: auto;
    position: relative;
    top: -19%;
}

.artist-jumbo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgb(25, 25, 25), transparent);
}

.artist-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    min-height: 250px;
    min-width: 250px;
}

.artist-show-list-titles {
    font-size: 36px;
    font-weight: 800;
}

.artist-show-song-list {
    width: 80%;
    font-size: 16px;
}

.artist-show-album-photo {
    height: 144px;
    width: 144px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.artist-show-album-photo:hover {
    opacity: .5
}

.darkening:hover {
    background: rgb(17, 17, 17);
}
.artist-show-song {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.artist-show-album_list {
    display: flex;
    flex-wrap: wrap;
}

.artist-show-album-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}