.artist-index {
    overflow-y: scroll; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
    background-image: linear-gradient(135deg, rgb(37, 40, 44), rgb(0, 0, 0));
    height: 100%;
}

/* .artist-index li {
    width: 50%;
    overflow: auto;
} */
.artist-index-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
.artist-index-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 15px rgb(25, 25, 25);
    transform: translate3d(0px,0px,0px);     /* prevent page jump ^ */

}

.artist-index-img:hover {
    opacity: .5;
}

.artist-index-title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}
