
.artist-show {
    padding: 10px 0px;
    background: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    overflow-y: scroll;
    /* text-align: center; */
}

.artist-show > * {
    padding: 10px;
}

.artist-show-name {
    font-size: 72px;
    position: relative;
    top: 200px;
    z-index: 2;
    font-weight: 800;
    background: rgba(25, 25, 25, .5);
}
.artist-show-shader {
    width: 100%;
    position: relative;
    /* display: inline-block; */
    /* background: linear-gradient(0deg, rgb(25, 25, 25), transparent); */
    z-index: 1;
}
.artist-jumbo {
    width: 100%;
    height: auto;
    position: relative;
    top: -19%;
}
.artist-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    min-height: 250px;
    min-width: 250px;
}

.artist-show-list-titles {
    font-size: 36px;
}

.artist-show-song-list {
    width: 80%;
    font-size: 16px;
}

.artist-show-album-photo {
    height: 144px;
    width: 144px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.artist-show-album-photo:hover {
    opacity: .5
}