.playlist-index-list {
    /* background: rgba(150, 150, 250, .3); */
    flex-wrap: wrap;
    display: flex;
    overflow-y: scroll;
    /* justify-content: space-evenly;     */
    padding: 5%;
}
.playlist-index-list > * {
    margin-right: auto;
}

.album-index {   
    /* background: rgba(0, 168, 79, .3); */
}

.artist-index {
    /* background: rgba(0, 163, 217, .3); */
}