/* .home-artists-button {

}

.home-albums-button {

} */
.home-options {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgb(14, 15, 17), rgb(37, 39 43));
}

.home-button {
    background: none;
    border: none;  
    cursor: pointer;    
}

/* .home-selected:before {

} */

.active-home-link::before {
    content: "";
    width: 4px;
    height: 29px;
    background: rgb(0, 196, 90);
    display: block;
    position: absolute;
    left: 5px;
    top: 12px;

}

.home-active::before {
    content: "";
    width: 39px;
    height: 2px;
    background: rgb(0, 196, 90);
    display: block;
    position: absolute;
    top: 31px;
}