.audio-controls {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 40%;
}
/* 
.fa-play-circle{
    font-size: 12px;
    height: 50px;
    width: 50px;
    color: black;

} */

.all-controls {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.audio-control-buttons {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: auto;
    align-items: center;

}

.back-button {
    overflow: hidden;
    position: relative;

    height: 24px;
    width: 20px;
    
}



.play-button {
    overflow: hidden;
    position: relative;
    /* background: blue; */

    height: 45px;
    width: 50px;

   
   
}

.forward-button {
    overflow: hidden;
    position: relative;

    /* background: green; */
    
    height: 24px;
    width: 20px;
   
}


.audio-control-buttons img {
    min-width: 140px;
    min-height: 140px;
}


.back-button img {
    position: absolute;
    top: -60px;
    right: -118px;
}

.play-button img {
    position: absolute;

    top: -49px;
    right: -52px;
}

.forward-button img {
    position: absolute;

    top: -59px;
    right: -12px;
}
/* button hovers */
.back-button img:hover {
    position: absolute;

    top: -106px;
    right: -118px;
}

.play-button img:hover {
    position: absolute;

    top: -94px;
    right: -52px;
}

.forward-button img:hover {
    position: absolute;
    top: -105px;
    right: -12px;
}

audio {
    position: absolute;
}

.time-slider {
    height: 20px;
    width: 200px;
}

.player-song-title {
    font-size: 14px;
}