.search-area {
    background-image: linear-gradient(135deg, rgb(37, 40, 44), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 10px 0px;
    flex-wrap: wrap;
    padding: 10px;
}


.search-input {
  caret-color: #00C45A;
  background: rgb(45, 45, 45);
  color: white !important;
  height: 12%;
  width: 100%;
  border: none;
  font-size: 33px;
  font-weight: 800;
}
.search-input:focus {
    border: none;
}

.search-input::placeholder {
  color: rgb(86, 86, 86);
  font-weight: 700;
}

.search-searchfirefy {
  margin-top: 12%;
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 800;
}

.search-findyour {
  font-size: 14px;
  text-align: center;
}

/* duplicate */
.album-photo {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    padding: 10px;
    margin: 0 auto;
    min-height: 250px;
    min-width: 250px;
}

.search-songplaylistname {
  font-size: 16px;
}
.search-category {
  display: flex;
  flex-wrap: wrap;
  
}
.search-category-songsplaylists {
  display: flex;
  flex-direction: column;
}

.search-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  font-size: 36px;
  font-weight: 700;
  padding: 10px;
  
}