.song-playlist-show-popup {
    background: rgb(25, 25, 25);
    box-shadow: 0px 0px 16px 7px black;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
    top: 40px;
    right: 0px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;

    max-height: 205px;
    overflow-y: scroll;

    transform: translate3d(0px,0px,0px);
}
.song-playlist-show-popup.not-open {
    display: none;
}
.song-playlist-show-popup::-webkit-scrollbar {
    background: transparent;
}
.song-playlist-show-popup::-webkit-scrollbar-thumb {
    background: transparent;
}
.song-playlist-show-popup::-webkit-scrollbar-track {
    background: transparent;
}
.song-playlist-show-popup > * {
    padding: 5px 25px;
    font-weight: 300;
}
.song-component-container.is-dragging{
    background: 2px rgba(0, 196, 90, .5);
}

.song-component-container {
    width: 100%;
    max-width: 1000px;
}
.songcomponent {
    padding: 1px 0px 0px 0px;
    align-items: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: rgb(15, 15, 15);
}
.songcomponent:hover {
    background: rgba(0, 0, 0, .3);
}
/* .song-playlist-show-popup.hideable > p { */
    /* margin-left: 50px; */
/* } */
.add-title {
    cursor: default;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.remove-button {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.playlist-popup-item {
    margin-left: 0;
    width: 80%;
    padding-left: 50px;
}
.darken:hover {
    background: rgb(15, 15, 15);
}