.song-playlist-show-popup {
    background: rgb(25, 25, 25);
    box-shadow: 0px 0px 16px 7px black;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
    top: 40px;
    right: 0px;
    position: absolute;
    opacity: 1;
    z-index: 1;
}
    .song-playlist-show-popup > * { 
        margin: 5px 25px;
        font-weight: 300;
    }
.songcomponent {
    align-items: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: rgb(15, 15, 15);
}
.songcomponent:hover {
    background: rgba(0, 0, 0, .3)
}