 .template {
    height: 100%;
    width: 100%;
    display: flex;
    /* text-align: center;  TESTING  */
    flex-direction: column;
 }
 
 .template-nav-display {
    display: flex;
    height: 85%;
    width: 100%;
    flex-direction: row;
 }

 .template-player {
    width: 100%;
    height: 15%;
    display: inherit;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .template-navbar {
    display: inline-block;

     width: 20%;
     height: 100%;
     background: rgb(7, 15, 15);
     overflow: hidden;
 }
 .template-display-spacer {
    height: 5%;
 }

 .template-display {
    width: 80%;
    height: 100%;
    /* background: url('spotlight_background.png') no-repeat center center fixed; */
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgb(37, 40, 44), rgb(0, 0, 0));
 }
 .spotlight-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
 }

 .playlists-label {
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: start;
    text-transform: uppercase;
    margin: 10px;
 }
 
.create-playlist-button {
   cursor: pointer;
   font-size: 14px;
   padding: 2%;
}
/* 
.create-playlist-holder {
   display: inline-block;
} */

.plusbutton {
   display: inline-block;
   height: 35px;
   width: 35px;
   background: white;
   color: black;
   font-size: 30px;
   text-align: center;
   vertical-align: center;
   font-weight: 300;
   margin-right: 12px;
}

.navbar-firefy-logo {
   vertical-align: middle;
}

.navbar-icon {
   height: 24px;
   width: 24px;
   margin-right: 10px;
}

.navbar-top-item {
   display: flex !important;
   align-items: center;
}
 